In [1]:
# PYTHON TUPLES 

# creating tuple 

mytuple=("mangoes","apples","bananas","cheerys","kiwis",)
print(mytuple)

('mangoes', 'apples', 'bananas', 'cheerys', 'kiwis')

In [2]:
print(type(mytuple))

<class 'tuple'>

In [3]:
# tuple length 

thistuple=("maths","science","history","geography","english")
print(thistuple)

('maths', 'science', 'history', 'geography', 'english')

In [4]:
print(len(thistuple))

5

In [5]:
#create tuple with one item

thistuple=("Python",)
print(thistuple)

('Python',)

In [6]:
print(type(thistuple))

<class 'tuple'>

In [7]:
tuple1=("apple","mangoes","banana")
tuple2=(1,2,3)
tuple3=(True,False,True)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'mangoes', 'banana')
(1, 2, 3)
(True, False, True)

In [8]:
newtuple=("apple",True,1,44.5)  #tuple can contain different datatypes
print(newtuple)

('apple', True, 1, 44.5)

In [9]:
print(type(newtuple))

<class 'tuple'>

In [10]:
#tuple constructer

thistuple=tuple(("tcs","infosys","wipro","capegemini","accenture"))  #round brackets
print(thistuple)

('tcs', 'infosys', 'wipro', 'capegemini', 'accenture')

In [11]:
# access tuple items 

Subjects=("Science","Maths","English","History","Geography")
print(Subjects[2])

English

In [12]:
print(Subjects[-2])

History

In [13]:
print(Subjects[2:4])

('English', 'History')

In [14]:
print(Subjects[-5:-2])

('Science', 'Maths', 'English')

In [15]:
print(Subjects[:4])

('Science', 'Maths', 'English', 'History')

In [16]:
print(Subjects[:])

('Science', 'Maths', 'English', 'History', 'Geography')

In [17]:
# change tuple values

x=("india","china","pakistan","nepal")
y=list(x)
print(y)

['india', 'china', 'pakistan', 'nepal']

In [18]:
y[1]="bangladesh"
x=tuple(y)
print(x)

('india', 'bangladesh', 'pakistan', 'nepal')

In [20]:
# join tuples 

tuple1=("a","b","c")
tuple2=(1,2,3)

tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [21]:
#multiply tuples 

fruits=("apples","mangoes","banana")
mytuple = fruits*2
print(mytuple)

('apples', 'mangoes', 'banana', 'apples', 'mangoes', 'banana')

In [22]:
#loop tuples 

thistuple=("mangoes","apples","cheerys")
for x in thistuple:
    print(x)

mangoes
apples
cheerys

In [23]:
thistuple=("pune","mumbai","nashik","nagpur")
for i in range(len(thistuple)):
    print(thistuple[i])

pune
mumbai
nashik
nagpur