In [1]:
    # PYTHON STRINGS 
    
 print("Hello")

IndentationError: unexpected indent (<ipython-input-1-78fb44a004e7>, line 3)

In [2]:
print ("hello")

hello

In [3]:
a="Hello"
print(type(a))

<class 'str'>

In [4]:
# multiline strings

a="""I am pursuing my 
degree in mechanical engineering"""
print(type(a))

<class 'str'>

In [5]:
#GETTING THE CHARACTER
 a="Hello Word!"
 print(a[0])

IndentationError: unexpected indent (<ipython-input-5-e053f0ca0e13>, line 2)

In [6]:
a="Hello World!"
print(a[0])

H

In [10]:
# Looping through strings 

for x in "yogesh"
  print(x)

SyntaxError: invalid syntax (<ipython-input-10-f97d08dfba4b>, line 3)

In [8]:
for x in "yogesh":
    print(x)

y
o
g
e
s
h

In [12]:
# string length 
x="Hello World"
print(len(a))

12

In [13]:
# slicing the strings
a="Hello World"
print(a[1:5])

ello

In [14]:
print(a[1:6])

ello

In [16]:
print(a[:8])

Hello Wo

In [18]:
print(a[-5:-1])

Worl

In [19]:
# UPPER & LOWER CASES

a = "Hello World"
print(a.upper())

HELLO WORLD

In [21]:
a="YOGESH"
print(a.lower())

yogesh

In [22]:
# REPLACE STRINGS 

a = "Hello World!"
print(a.replace("H","J"))

Jello World!

In [23]:
# SPLIT STRINGS 
a = "Hello World"
print(a.split(","))

['Hello World']

In [24]:
# format strings 

quantity = 3
item_no = 500
price = 1000

myorder = "I want {} pieces of item {} for {} rupees "
print (myorder.format(quantity,item_no,price))

I want 3 pieces of item 500 for 1000 rupees

In [25]:
# PYTHON LISTS

# creating list

Fruits = ["apples","mangoes","bananas","cherrys"]
print(Fruits)

['apples', 'mangoes', 'bananas', 'cherrys']

In [26]:
# list length 

friends = ["yogesh","mayur","pawan","himanshu","shubham"]
print(len(friends))

5

In [27]:
list = ["abc",34,True,"yogesh"]  #contains datatypes
print(list)

['abc', 34, True, 'yogesh']

In [28]:
print(type(list))

<class 'list'>

In [30]:
# range of indexes

Fruits = ["mangoes","apples","oranges","bananas","cheerys"]
print(Fruits[1:4])

['apples', 'oranges', 'bananas']

In [32]:
print(Fruits[:3])

['mangoes', 'apples', 'oranges']

In [33]:
print(Fruits[0:])

['mangoes', 'apples', 'oranges', 'bananas', 'cheerys']

In [34]:
print(Fruits[-5:-1])

['mangoes', 'apples', 'oranges', 'bananas']

In [35]:
# CHANGE LIST ITEMS 

thislist = ["physics","chemistry","maths","english","history",]
thislist[4]="geography"
print(thislist)

['physics', 'chemistry', 'maths', 'english', 'geography']

In [39]:
thislist.insert(2,"biology")
print(thislist)

['physics', 'chemistry', 'biology', 'biology', 'biology', 'maths', 'english', 'geography']

In [47]:
# remove list items

thislist.remove("maths")
print(thislist)

ValueError: list.remove(x): x not in list

In [43]:
places = ["pune","mumbai","nashik","nagpur","kolhapur",]
print(places)

['pune', 'mumbai', 'nashik', 'nagpur', 'kolhapur']

In [44]:
places.pop(1)

'mumbai'

In [46]:
del places[0]
print(places)

['nagpur', 'kolhapur']

In [48]:
thislist=["kiwis","apples","bananas","mangoes","cheerys"]
thislist.reverse()
print(thislist)

['cheerys', 'mangoes', 'bananas', 'apples', 'kiwis']

In [49]:
thislist.sort()
print(thislist)

['apples', 'bananas', 'cheerys', 'kiwis', 'mangoes']

In [51]:
# joining lists
 
list1 = ("a","b","c")
list2 = (1,2,3)
list3 = list1+list2
print(list3)

('a', 'b', 'c', 1, 2, 3)

In [52]:
list1.extend(list2)
print(list1)

AttributeError: 'tuple' object has no attribute 'extend'