In [1]:
# PYTHON SETS 
# CREATING A SET 

myset = {"Mechanical","Civil","Electrical","Computer","Electronics"}
print(myset)

{'Civil', 'Mechanical', 'Electrical', 'Electronics', 'Computer'}

In [2]:
print(type(myset))

<class 'set'>

In [3]:
print(len(myset))

5

In [4]:
# sets contains any data types

set1 = {"apple","banana","mango"}
set2 = {"1","5","6"}
set3 = {"True","False","True"}
print(set1)
print(set2)
print(set3)

{'banana', 'mango', 'apple'}
{'6', '5', '1'}
{'True', 'False'}

In [5]:
# sets does not cantains duplicate values 

subjects = {"english","maths","science","maths","history"}
print(subjects)

{'english', 'history', 'science', 'maths'}

In [6]:
set = {"1","yogesh","True","3.4","32"}
print(set)

{'True', '3.4', 'yogesh', '32', '1'}

In [11]:
# sets constructor

thisset = set (("yogesh","pavan","adesh","prathamesh","shubham"))

print(thisset)

TypeError: 'set' object is not callable

In [13]:
#access set items 

group = {"Yogesh","Pavan","Adesh","Prathamesh"}
for x in group:
    print(x)

Adesh
Prathamesh
Pavan
Yogesh

In [14]:
print("Yogesh" in group)

True

In [16]:
#add set items

Companys = {"Tcs","Infosys","Wipro","Accenture"}
Companys.add("Capegemeni")
print(Companys)

{'Capegemeni', 'Accenture', 'Infosys', 'Wipro', 'Tcs'}

In [17]:
set1 = {"apple","banana","cheery"}
set2 = {"pineapple","mango","papaya"}
set1.update(set2)
print(set1)

{'banana', 'cheery', 'papaya', 'pineapple', 'mango', 'apple'}

In [18]:
# remove items 
 
thisset = {"Pune","Mumbai","Nagpur"}
thisset.remove("Nagpur")
print(thisset)

{'Mumbai', 'Pune'}

In [22]:
myset= {"Maharashtra","Delhi","Gujrat","Karnataka"}
myset.clear()
print(myset)

set()

In [23]:
#loop sets 

thisset={"apple","banana","mangoes","cheery"}
for x in thisset:
    print(x)

mangoes
banana
cheery
apple

In [1]:
# joining two sets 

set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

In [2]:
set1={"yogesh","pawan","adesh"}
set2={"prathamesh","himanshu","mayur"}

set1.update(set2)
print(set1)

{'himanshu', 'mayur', 'prathamesh', 'adesh', 'pawan', 'yogesh'}

In [3]:
x={"apple","banana","cheery"}
y={"apple","mango","kiwi"}
x.intersection_update(y)
print(x)

{'apple'}